/* Assigning container names (for customization) */
:root{
    container-name: root;
}
body{
    container-name: body;
}

/* Custom properties */
@property --align-titlebar{
    syntax: "off | hide | left";
    inherits: false;
    initial-value: left;
}

@property --old-status{
    syntax: "off | on";
    inherits: false;
    initial-value: off;
}

/* Applying customizations: */
/* --align-titlebar */
@container body style(--align-titlebar: left){
    .visual-refresh .title_c38106{
        justify-content: flex-start !important;
        padding-inline-start: var(--titlebar-padding, 12px) !important;
    }
}

@container body style(--align-titlebar: hide){
    .visual-refresh .title_c38106{
        display: none !important;
    }
}


/* --old-status */
@container body style(--old-status: on){
    .visual-refresh rect.pointerEvents__44b0c:not([mask="url(#svg-mask-status-online)"]){
        mask: url("#svg-mask-status-online") !important;
    }
}