/* Assigning container names (for customization) */
:root{
    container-name: root;
}
body{
    container-name: body;
}

/* Custom properties */
@property --align-titlebar{
    syntax: "off | left";
    initial-value: "left";
}

/* Applying customizations */
@container root style(--align-titlebar: left){
    .visual-refresh .title_c38106{
        justify-content: flex-start;
        padding-inline-start: var(--titlebar-padding);
    }
}